# values-dns.yaml: helm value for external dns
provider:
  name: cloudflare

env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: apiKey

sources:
  - ingress

policy: sync          
registry: txt

domainFilters:
  - arguswatcher.net