# .github/workflow/wf-manual-destroy.yaml
name: Workflow-Manaual Destroy

on:
    workflow_dispatch:

# multiple trigger
concurrency:
    group: wf-destroy-${{ github.workflow }}-${{ github.ref_name }}
    cancel-in-progress: true # Cancel older runs

jobs:

  destroy:
    name: Destroy Resources
    uses: ./.github/workflows/job_destroy.yaml
    permissions:
      contents: read
      id-token: write # OIDC
    strategy:
      fail-fast: false
      matrix:
        solution:
          - arch: baseline
          # - arch: scale
          # - arch: redis
          # - arch: kafka
    with:
      project: ${{ vars.PROJECT}}
      arch: ${{ matrix.solution.arch }}
      aws_region: ${{ vars.AWS_REGION }}
    secrets:
      db_name: ${{ secrets.DB_NAME }}
      db_username: ${{ secrets.DB_USERNAME }}
      db_password: ${{ secrets.DB_PASSWORD }}
      db_app_pwd: ${{ secrets.DB_APP_PWD }}
      db_readonly_pwd: ${{ secrets.DB_READONLY_PWD }}
      cf_api_token: ${{ secrets.CF_API_TOKEN }}
      cf_zone_id: ${{ secrets.CF_ZONE_ID }}
      aws_tf_role_arn: ${{ secrets.AWS_TF_ROLE_ARN }}
      aws_backend_bucket: ${{ vars.AWS_BACKEND_BUCKET }}
